.gm-style div{
  border-radius: 24px !important;
}

@keyframes updown {
  0% {
    transform: translateY(-30%)
  }

  50% {
    transform: translateY(0%)
  }
  100% {
    transform: translateY(-30%);
  }
}

@keyframes eatme {
  0% {
    transform: scale(1)
  }
  
  100% {
    transform: scale(1.3);
  }
}





.mark-clicked {
  color: rgb(107, 107, 107) !important;
  animation: updown 0.5s ease infinite
}

.mark-over:hover {
  
  transform: scale(1.3);
  transition: 0.2s;
  transition-timing-function: ease;
}

.mark-over {
  cursor: pointer;
}

.list-over {
  animation: eatme 0.5s ease infinite;
  color: rgb(255, 136, 0);
}

